:root {
  --white: #ffffff;
  --almostGray: #222222;
  --almostBlack: #333333;
  --lightOrange: #f6982d;
  --messageColor: #004085;
  --messageBackground: #cce5ff;
  --messageBorderColor: #b8daff;
}

* {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--almostGray);
  color: var(--white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#navbar {
  padding: 1.2em 1.4em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--almostBlack);
}

#navbar ul {
  display: flex;
  list-style: none;
}

#navbar ul li {
  margin-left: 1em;
}

#navbar ul li a {
  text-decoration: none;
  transition: 0.5s;
  font-weight: bold;
}

.container {
  padding: 2em;
}

.container h1 {
  margin-bottom: 1em;
}

.container from {
  max-width: 300px;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form-control label {
  font-weight: bold;
  margin-bottom: .5em;
}

.form-control input,
.form-control textarea {
  padding: 7px;
  border-radius: 5px;
  border: 1px solid var(--lightOrange);
}

form input[type="submit"],
.btn {
  background-color: transparent;
  color: var(--lightOrange);
  border: 2px solid var(--lightOrange);
  padding: .3em 1.2em;
  border-radius: 5px;
  margin-bottom: 1em;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  transition: .5s;
}
form input[type="submit"]:hover,
.btn:hover {
  background-color: var(--lightOrange);
  color: var(--white);
}
