.home-header {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
}

.home-header h1 {
  margin-bottom: 1em;
}

.home-header span {
  color: var(--lightOrange);
}

.home-header p,
.home-header form {
  margin-bottom: 1.2em;
}

.home-header input {
  border: none;
  border-bottom: 1px solid var(--white);
  padding: .5em;
  margin-right: 1em;
}

.home-header input[type="text"] {
  width: 60%;
}

.home-header input::placeholder {
  color: var(--white);
}

.order-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  margin: 0 auto 1em;
}

.order-container span {
  font-weight: bold;
  color: var(--white);
}

.order-container form {
  margin: 0;
}

.order-container button {
  transition: .5s;
  margin-bottom:  0;
  border: none;
  cursor: pointer;
}

.order-container button,
.order-container i,
.order-container a {
  margin: 0 5px;
}

.order-container button:hover,
.order-container i:hover,
.order-container a:hover {
  color: var(--lightOrange);
}

.toughts-container figure {
  border-bottom:  1px solid var(--almostBlack);
  padding: .5em;
  max-width: 50%;
  margin: 0 auto 1em;
}

.toughts-container blockquote {
  font-style: italic;
  font-size: 2em;
  margin: 0 4em;
}

.toughts-container span {
  color: var(--lightOrange);
}
