<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link
      rel="shortcut icon"
      href="img/code-slash-outline.svg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Code Time</title>
  </head>
  <body>
    <!-- Nav -->
    <nav class="nav-container">
      <h1>
        <a href="index.html">Codar<span>.</span></a>
      </h1>
      <ul class="ul-cont">
        <li><a href="#inicio">Início</a></li>
        <li><a href="html/sobre.html">Sobre</a></li>
        <li><a href="html/servicoPag.html">Serviço</a></li>
        <li data-dropdown>
          <a href="#"><button>Conta</button></a>
          <ul class="dropdown-menu">
            <li><a href="html/login.html">Entrar</a></li>
            <li><a href="html/cadastro.html">Cadastre-se</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- Nav -->
    <!-- Section -->
    <!-- Início -->
    <section class="inicio-container" id="inicio">
      <div><img src="img/video_call.png" /></div>
      <div class="inicio-text">
        <h2>Alavanque seu negócio com um</h2>
        <h1>Website incrível</h1>
        <button><a href="html/orcamento.html">Solicitar orçamento</a></button>
      </div>
    </section>
    <!-- Início -->
    <!-- Serviço -->
    <section class="servico-container" id="servico">
      <div><img src="img/coding_.png" /></div>
      <div class="servico-list">
        <ul>
          <li class="servico-itens">
            <ion-icon name="checkmark-circle-sharp"></ion-icon>Hospedagem
          </li>
          <li class="servico-itens">
            <ion-icon name="checkmark-circle-sharp"></ion-icon>Site responsívo
          </li>
          <li class="servico-itens">
            <ion-icon name="checkmark-circle-sharp"></ion-icon>Redes Sociais
          </li>
          <li class="servico-itens">
            <ion-icon name="checkmark-circle-sharp"></ion-icon>Chat online
          </li>
          <li class="servico-itens">
            <ion-icon name="checkmark-circle-sharp"></ion-icon>Blog integrado
          </li>
        </ul>
      </div>
    </section>
    <!-- Serviço -->
    <!-- Contato -->
    <section class="contato-container" id="contato">
      <div class="contato">
        <h1>Nossa equipe está à disposição</h1>
        <input type="text" placeholder="Celular" />
        <button id="btnLigacao" onclick="btnLigacao()">
          Ligamos para você
        </button>
      </div>
      <div class="relato-clientes">
        <div class="cliente-img">
          <img src="img/profile1.jpg" />
          <div class="cliente">
            <p>
              Já tive experiências com outras 4 empresas<br />
              da área e a Codar é sem sombra de dúvidas<br />
              superior em todos os aspectos.
            </p>
            <h1>Pedro Ferreiro</h1>
            <h2>Construtora Minari</h2>
          </div>
        </div>
        <div class="cliente-img">
          <img src="img/profile2.jpg" />
          <div class="cliente">
            <p>
              Processos bem simples e criação de um<br />
              site exatamente como a minha escola<br />
              queria.
            </p>
            <h1>Maria Rita</h1>
            <h2>Escola Criança Feliz</h2>
          </div>
        </div>
      </div>
    </section>
    <!-- Contato -->
    <!-- Section -->
    <!-- Footer -->
    <footer class="footer-container">
      <div class="footer-div-um">
        <h1>Codar<span>.</span></h1>
        <p>Criamos websites incríveis</p>
      </div>
      <div class="footer-div-dois">
        <h1>Sobre</h1>
        <p>
          Amamos criar soluções<br />
          a entregar sites incríveis
        </p>
      </div>
      <div class="footer-div-tres">
        <h1>Contato</h1>
        <p>123 Av. Faz de Conta - Bairro 171</p>
        <p>Tel(21).: 97490-3005</p>
        <p>nicolasesmael1998@gmail.com</p>
      </div>
      <div class="footer-div-quatro">
        <h1>Redes Sociais</h1>
        <div class="footer-social-media">
          <a href="https://github.com/nicolasgaldino"
            ><ion-icon name="logo-github"></ion-icon
          ></a>
          <a href="https://www.linkedin.com/in/nícolas-galdino-esmael-8370ab199"
            ><ion-icon name="logo-linkedin"></ion-icon
          ></a>
        </div>
      </div>
    </footer>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <!-- Footer -->
    <script src="js/script.js"></script>
    <script src="js/pace.min.js"></script>
  </body>
</html>
Footer © 2022 GitHub, Inc. Footer navigation Terms
