<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link
      rel="shortcut icon"
      href="../img/code-slash-outline.svg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/css/orcamento.css" />
    <title>Code Time</title>
  </head>
  <body>
    <!-- Nav -->
    <nav class="nav-container">
      <h1>
        <a href="../index.html">Codar<span>.</span></a>
      </h1>
      <ul class="ul-cont">
        <li><a href="../index.html">Início</a></li>
        <li><a href="sobre.html">Sobre</a></li>
        <li><a href="servicoPag.html">Serviço</a></li>
        <li data-dropdown>
          <a href="#"><button>Conta</button></a>
          <ul class="dropdown-menu">
            <li><a href="login.html">Entrar</a></li>
            <li><a href="cadastro.html">Cadastre-se</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- Nav -->
    <!-- Formulário -->
    <form>
      <div class="todosForm">
        <p>Preencha o formulário para que possamos entrar em contato!</p>
        <div class="formulario">
          <label for="name"></label>
          <input
            type="text"
            name="name"
            placeholder="Digite seu nome"
            required
          />
        </div>
        <div class="formulario">
          <label for="email"></label>
          <input
            type="email"
            name="email"
            placeholder="Digite seu e-mail"
            required
          />
        </div>
        <div class="formulario">
          <label for="phone"></label>
          <input
            type="text"
            name="phone"
            placeholder="Telefone para contato"
            required
          />
        </div>
        <div class="formulario">
          <label for="interest">Interesse</label>
          <select name="interest">
            <option value="" disabled selected>Selecione</option>
            <option value="empresarial">Empresarial</option>
            <option value="pequenoPorte">Para pequenos comércios</option>
            <option value="sitePessoal">Site Pessoal</option>
            <option value="lojaVirtual">Loja Virtual</option>
          </select>
        </div>
        <input type="submit" class="btn" value="Quero um site incrível!" />
      </div>
    </form>
    <!-- Formulário -->
    <!-- Footer -->
    <footer class="footer-container">
      <div class="footer-div-um">
        <h1>Codar<span>.</span></h1>
        <p>Criamos websites incríveis</p>
      </div>
      <div class="footer-div-dois">
        <h1>Sobre</h1>
        <p>
          Amamos criar soluções<br />
          a entregar sites incríveis
        </p>
      </div>
      <div class="footer-div-tres">
        <h1>Contato</h1>
        <p>123 Av. Faz de Conta - Bairro 171</p>
        <p>Tel(21).: 97490-3005</p>
        <p>nicolasesmael1998@gmail.com</p>
      </div>
      <div class="footer-div-quatro">
        <h1>Redes Sociais</h1>
        <div class="footer-social-media">
          <a href="https://github.com/nicolasgaldino"
            ><ion-icon name="logo-github"></ion-icon
          ></a>
          <a href="https://www.linkedin.com/in/nícolas-galdino-esmael-8370ab199"
            ><ion-icon name="logo-linkedin"></ion-icon
          ></a>
        </div>
      </div>
    </footer>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <!-- Footer -->
    <script src="../js/script.js"></script>
    <script src="../js/pace.min.js"></script>
  </body>
</html>
